<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="liou.rayyuan.ebooksearchtaiwan.camerapreview">

    <dist:module
        dist:title="@string/barcode_scanner_title"
        tools:ignore="ManifestResource">
        <dist:fusing dist:include="true" />
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
    </dist:module>

    <application>
        <activity
            android:name="liou.rayyuan.ebooksearchtaiwan.camerapreview.CameraPreviewActivity"
            android:label="@string/barcode_scanner_title"
            android:theme="@style/FullScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
